# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Github Repositories\easypayway_php-laravel\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
